* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#menu {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    margin: 0 auto;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgb(50, 50, 50);
}

#menu .fa-bars {
    display: none;
}

#menu h2 {
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;
}

#menu h2 .h-with {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#menu nav li {
    display: inline;
    margin-right: 30px;
    color: #fff;
}

/* All Button Color class */
.colorpro {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;

}

/* .btn {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
} */

.colorpro:hover {
    background: linear-gradient(-45deg, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

/* .btn{

    padding: 12px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
 } */

#hero-section {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 100px;
    margin: 0 auto;
    background-color: #6e4d99;
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hero-section .circlepro img {
    width: 280px;
    height: auto;
    align-items: center;
    position: relative;

}

#hero-section .hero-circle img {
    position: absolute;
    width: 8%;
    top: 30%;
    left: 46%;
}

#hero-section .beg{
    padding: 5px 12px;
    background-color: #00FF88;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    position: relative;
    top: 40px;
    left: 90px;
    z-index: 10;
    box-shadow: 2px 2px 30px #00ff8879;
    font-weight: 700;
}


#hero-section h2 {
    color: #fff;
    font-size: 40px;
    padding: 20px 0px;
}

#hero-section p {
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: 300;
    padding: 15px 0;
    text-align: center;
} 

 #hero-section .hero-btn .Subscribe {
    background-color: rgba(255, 0, 0, 0);
    padding: 10px 16px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00FF88;
    border-radius: 25px;
}


#about {
    width: 100%;
    max-width: 1280px;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 120px 100px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

#about .about-heading h2{
    text-align: center;
    color: #fff;
    font-size: 48px;
    

}

#about .about-heading p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding: 20px 0;
}

#about .earning {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-evenly; */
    gap: 80px;
}

.earning h2 {
    color: #00FF88;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.earning p {
    font-size: 16px;
    color: rgb(161, 161, 161);
    text-align: center;
    font-weight: 300;
    padding: 20px 0;
    text-transform: uppercase;
}

#box-container {
    width: 100%;
    max-width: 1280px;
    padding: 100px;
    margin: 0 auto;
    background-color: #230E3D;

}

#box-container .heading {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 50px;
}

.grid-section {
    width: 100%;
    max-width: 1280px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 220px);
}

.box {
    /* border: 2px solid sandybrown ; */
    background-color: #351165b0;
    color: #fff;
    border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;
}

.box h2 {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.box p {
    font-size: 16px;
    font-weight: 200;
    padding: 15px 0;

}

#sidebar {
    grid-row: span 2;
    display: grid;
    justify-content: center;
    align-content: center;

}

#topbar {
    grid-column: span 2;
    display: grid;
    justify-content: start;
    align-content: center;
}


#vedio-section{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 120px 100px;
    background-color: #1A0B2E;
}

#vedio-section .all-vedio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}

#vedio-section .vedio-box{
    background-color: #250D44;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    /* padding: 20px; */
}

#vedio-section .vedio-box iframe{
    border-radius: 25px 25px 0px 0px;
    width: 350px;
    height: 195px;
}

#vedio-section .vedio-box .v-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

#vedio-section .Featured-heading, .meet-host{
    font-size: 30px;
    font-family: 600;
    color: #fff;
    padding-bottom: 35px ;
    text-align: center;
}

#vedio-section .vedio-box h2{
    color: #fff;
    font-size: 25px;
}
#vedio-section .vedio-box p{
    color: #c4c4c4;
    font-weight: 300;
    font-size: 16px;
    padding: 15px 0;
}
#vedio-section .vedio-box h5{
    color: #00FF88;
    font-weight: 300;
    font-size: 16px;
}


#host{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 100px 100px;
    background-color: #1A0B2E;
}

#host .host-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #3511659b;
    color: #fff;
    padding: 30px;
    border-radius: 25px;
}

.host-info h2{
    font-size: 30px;
}
.host-info p{
    font-size: 14px;
    font-weight: 200;
    padding: 15px 0;
    line-height: 20px;
}

#host .host-section .host-info{
    padding-left: 20px;
}

.host-info .social{
    display: flex;
    gap: 5px;
}

.social .social-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.host-info .social .social-box{
    width: 35px;
    height: 35px;
    /* background-color: #F7E93F; */
    padding: 10px;
    margin-left: 5px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 50px;
}


#footer-section{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px;
    background: url(images/footer-bg.png);
    background-position: center;
    background-size: cover;
}

#footer-section .footer-box{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box h2 {
    font-size: 40px;
    color: #fff;
    padding: 0;
    margin: 0;
}
.footer-box .h-with{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-box .footer-socile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.footer-box .footer-socile button{
    border: none;
    /* padding: 10px 60px; */
    background-color: #9100f800;
    color: #c6c6c6;
}

.footer-box p{
    color: #c6c6c6;
    font-size: 14px;
    font-weight: 200;
}





@media screen and (max-width:576px) {
    #menu, #hero-section {
        padding: 10px;
        margin: 0 auto;
    }

    #menu .hiddan {
        display: none;
    }

    #menu .fa-bars {
        display: block;
        color: #fff;
        font-size: 35px;
    }

    #hero-section {
    padding-top: 100px;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #hero-section .circlepro img {
    margin-top: 30px;
    width: 150px;
    height: auto;
    position: relative;

    }

    #hero-section .hero-circle img {
    position: absolute;
    width: 10%;
    top: 17%;
    left: 45%;
    }

    #hero-section .beg{
    padding: 4px 10px;
    background-color: #00FF88;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    position: relative;
    top: 60px;
    left: 45px;
    z-index: 10;
    box-shadow: 2px 2px 30px #00ff8879;
    font-weight: 700;
}

    #about{
        padding: 130px 10px;
    }

     #about .about-heading h2{
        font-size: 35px;
     }
     #about .about-heading p{
        font-size: 14px;
        color: rgb(161, 161, 161);
     }

    #about .earning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    }

    #box-container{
        padding: 50px 10px;
    }

    #box-container .heading{
        font-size: 30px;
    }

    .grid-section {
    display: grid;
    gap: 20px 0px;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    }
    .box{
        padding: 20px;
    }

    #sidebar {
    grid-row: span 1;
    display: grid;
    justify-content: center;
    align-content: start;
    }
    #topbar{
        grid-row: span 1;
    }

    #vedio-section{
    padding: 120px 10px;
 
}

    #vedio-section .all-vedio{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        padding: 10px;
    }
    #vedio-section .Featured-heading{
        font-size: 25px;
    }

    #vedio-section .vedio-box{
        width: 100%;
    }
    #vedio-section .vedio-box iframe{
        width: 100%;
    }

    #host{
        padding: 20px 20px 80px;
    }

    #host .host-section .host-info{
    padding-left: 0px;
    padding-top: 20px;
}

    #host .host-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

    }

    #host .host-info{
        text-align: center;
    }

    #host .social{
        display: flex;
        justify-content: center;
        align-items: center
        
    }

    #footer-section{
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }

    .footer-box .footer-socile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

}