*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#menu{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    margin: 0 auto;
    background-color: #1A0B2E;
}

#menu h2{
    font-size: 35px;
    color: #fff;
    padding: 0;
    margin: 0;
}
#menu h2 .h-with{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#menu nav li{
    display: inline;
    margin-right: 30px;
    color: #fff;
}
/* All Button Color class */
.colorpro{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 10px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    
}

.colorpro:hover{
    background: linear-gradient(-45deg, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}
 /* .btn{

    padding: 12px 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
 } */

#hero-section{
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* flex-direction: column; */
    padding: 100px;
    margin: 0 auto;
    background-color: #6e4d99;
    background-image: url(images/hero-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hero-section .hero-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section .circlepro img{
    width: 280px;
    height: auto;
    position: relative;
    
}

#hero-section .hero-circle img{
    position: absolute;
    width: 9%;
    top: 32%;
    left: 45.5%;
}

#hero-section h2{
    color: #fff;
    font-size: 40px;
    padding: 20px 0px 0;
}

#hero-section p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 15px 0;
}
#hero-section .hero-btn .Subscribe{
    background-color: rgba(255, 0, 0, 0);
    padding: 10px 16px;
    color: #00FF88;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #00FF88;
    border-radius: 25px;
}

#about{
}




